div(ng-include='\'partials/navbar\'')

.div(data-ng-init="findOne()")
    h2.underline {{project.name}} - {{project.rating}}/10
    h3 {{project.github}}
    h4.underline Team Members
    ul
       li(data-ng-repeat="member in project.members") {{member}}

