div(ng-include='\'partials/navbar\'')

.jumbotron
  h1
    | CIS 411 MEAN Homework
    span(ng-show='currentUser') {{ currentUser.name }}

  p.lead
    | CIS 411 Assignments using the MEAN Stack + Yeoman/Karma/Grunt!

    
.row.marketing
    h4 Assignment 5
    p This is sample text for assignment 5 requisites.

.footer
  p Brian Troncone