div(ng-include='\'partials/navbar.html\'')
ul(data-ng-repeat="project in projects")
    div.well
        li
            |Group Name: {{project.name}}
        li
            |Github: {{project.github}}
        li
            |Members: {{project.members}}


